force-app/main/default/flows/Candidacy_Determination_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Candidacy_record</name>
        <label>Assign Candidacy record</label>
        <locationX>608</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>CandidacyRecord.Child_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CandidacyRecord.Service_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_candidacyRec_to_Lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_candidacyRec_to_Lists</name>
        <label>Assign candidacyRec to Lists</label>
        <locationX>514</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>CandidacyLists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CandidacyRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Contact</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Candidacy Determination Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Candidacy Determination Creation Flow</label>
    <loops>
        <name>Iterate_Contact</name>
        <label>Iterate Contact</label>
        <locationX>408</locationX>
        <locationY>392</locationY>
        <collectionReference>Get_Contacts_from_ServiceCase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Candidacy_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Candidacy_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Candidacy_Records</name>
        <label>Create Candidacy Records</label>
        <locationX>529</locationX>
        <locationY>228</locationY>
        <inputReference>CandidacyLists</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts_from_ServiceCase</name>
        <label>Get Contacts from ServiceCase</label>
        <locationX>177</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Case__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contacts_from_ServiceCase</targetReference>
        </connector>
        <object>Service_Plan__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CandidacyLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Candidacy__c</objectType>
    </variables>
    <variables>
        <name>CandidacyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Candidacy__c</objectType>
    </variables>
</Flow>
