force-app/main/default/flows/Contact_Extension_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>1000</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Extension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdContactExtensionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsPersonInvolved</name>
        <label>IsPersonInvolved</label>
        <locationX>585</locationX>
        <locationY>153</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkPersonInvoledRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PersonInvolvedRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Extension_Record</targetReference>
            </connector>
            <label>checkPersonInvoledRecordType</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Extension Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Extension Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Extension_Record</name>
        <label>Create Contact Extension Record</label>
        <locationX>846</locationX>
        <locationY>154</locationY>
        <assignRecordIdToReference>createdContactExtensionId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AKA_Type__c</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Extension__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record_Type</name>
        <label>Get Contact Record Type</label>
        <locationX>444</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPersonInvolved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Persons_Involved</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonInvolvedRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact1</name>
        <label>Update Contact</label>
        <locationX>1163</locationX>
        <locationY>155</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>36</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Get_Contact_Record_Type</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>createdContactExtensionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PersonInvolvedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
