force-app/main/default/flows/Contact_Program_Area_Start_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Update_Start_Date</name>
        <label>Update Start Date</label>
        <locationX>179</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>contactList.Program_Area_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Removal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactList.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Child__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Contact Program Area Start Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Program Area Start Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_List</name>
        <label>Update Contact List</label>
        <locationX>386</locationX>
        <locationY>342</locationY>
        <inputReference>contactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Update_Start_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Child_Removal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
