force-app/main/default/flows/Create_TitleIVE_Redetermination_Record_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_is_Updated_Record</name>
        <label>Assign is Updated Record</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Updated_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TitleIveRecId_Temporary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TitleIVE_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Redetermination</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create TitleIVE Redetermination Record Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create TitleIVE Redetermination Record Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_TitleIVE_Record</name>
        <label>Get TitleIVE Record</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_is_Updated_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Removal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_Removal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title_Iv_E__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Title_Iv_E__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TitleIVE_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Updated_Record__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <object>Placement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Redetermination</name>
        <label>Create Redetermination</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <flowName>Title_Iv_E_Creation_Flow</flowName>
        <inputAssignments>
            <name>placementRecordIns</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
