force-app/main/default/flows/Create_Adoption_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Adoption_Case_Id_in_Contact</name>
        <label>Assign Adoption Case Id in Contact</label>
        <locationX>891</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>UpdateContactRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateContactRec.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdoptionCaseRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contactRec_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>contactRec_add_to_List</name>
        <label>contactRec add to List</label>
        <locationX>673</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>UpdateContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateContactRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>CaseCreationDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Adoption_Case_Created_Date.CreatedDate})</expression>
    </formulas>
    <interviewLabel>Create Adoption Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Adoption Case Flow</label>
    <loops>
        <name>Iterate_Persons_Records</name>
        <label>Iterate Persons Records</label>
        <locationX>672</locationX>
        <locationY>234</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Adoption_Case_Id_in_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Persons_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>361</locationX>
        <locationY>241</locationY>
        <assignRecordIdToReference>AdoptionCaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AdoptionCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Adoption_Case_Created_Date</name>
        <label>Get Adoption Case Created Date</label>
        <locationX>1068</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AdoptionCaseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Adoption_Case_Record_Type</name>
        <label>Get Adoption Case Record Type</label>
        <locationX>171</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Adoptive_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AdoptionCaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>515</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermanencyRec.Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Intake_Person_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Adoptive Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermanencyRec.Service_Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Persons_Records</name>
        <label>Update Persons Records</label>
        <locationX>914</locationX>
        <locationY>220</locationY>
        <inputReference>UpdateContactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Adoption_Case_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdoptionCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdoptionCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermanencyRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Permanency_Plan__c</objectType>
    </variables>
    <variables>
        <name>UpdateContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdateContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
