force-app/main/default/flows/Create_Placement_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Placement_Record_Values</name>
        <label>Assign Placement Record Values</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>PlacementRecord.Child_Removal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlacementRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Child__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlacementRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlacementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlacementRecord.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlacementRecord.PlacementReimbursable__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlacementRecord.Updated_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TitleIVE_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Placement Record Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Placement Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Placement_Record</name>
        <label>Create Placement Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>PlacementId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Placement_Record_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>Child_Removal__c</field>
            <value>
                <elementReference>ChildRemovalIns.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child__c</field>
            <value>
                <elementReference>ChildRemovalIns.Child__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ChildRemovalIns.Service_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Record__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Placement__c</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Placement_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_TitleIVE_Record</name>
        <label>Create TitleIVE Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <flowName>Title_Iv_E_Creation_Flow</flowName>
        <inputAssignments>
            <name>placementRecordIns</name>
            <value>
                <elementReference>PlacementRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ChildRemovalIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Child_Removal__c</objectType>
    </variables>
    <variables>
        <name>PlacementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PlacementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
</Flow>
