force-app/main/default/flows/Investigation_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_collateral_Record_to_List</name>
        <label>Add collateral Record to List</label>
        <locationX>270</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>collateralLists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignInvestigationIdinCollateralRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Collateral_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_notesRec_to_notesList</name>
        <label>Add notesRec to notesList</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>notesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NotesRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_visitationLog_Record_to_List</name>
        <label>Add visitationLog Record to List</label>
        <locationX>270</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>visitationLogLists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>visitationLogRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_visitation_logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Head_Of_HouseHold</name>
        <label>Assign Head Of HouseHold</label>
        <locationX>182</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>UpdatingInvestigationIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingInvestigationIns.Head_of_Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IntakeIns.contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Investigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Investigation_Id_in_Collaterals</name>
        <label>Assign Investigation Id in Collaterals</label>
        <locationX>270</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>AssignInvestigationIdinCollateralRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Collateral_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignInvestigationIdinCollateralRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_collateral_Record_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Investigation_Id_in_Notes</name>
        <label>Assign Investigation Id in Notes</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NotesRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Notes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_notesRec_to_notesList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Investigation_Id_in_Visitation_Log</name>
        <label>Assign Investigation Id in Visitation Log</label>
        <locationX>270</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>visitationLogRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_visitation_logs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>visitationLogRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_visitationLog_Record_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Contact</name>
        <label>Assigned Service Case in Contact</label>
        <locationX>270</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>UpdatingContactIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingContactIns.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingContactIns.Program_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CPS/IR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingContactIns.Program_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingContactIns.Program_Sub_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Investigative Response</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Relationship</name>
        <label>Assigned Service Case in Relationship</label>
        <locationX>270</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Relationship_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipIns.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Relationship_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_add_to_List</name>
        <label>Update Contact add to List</label>
        <locationX>270</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>UpdateContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingContactIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Relationship_add_to_List</name>
        <label>Update Relationship add to List</label>
        <locationX>270</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingRelationshipIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Relationship_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_SDM_Size</name>
        <label>Check SDM Size</label>
        <locationX>182</locationX>
        <locationY>4238</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_SDM_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SDM_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SDM_Alleged_Victim_and_Maltreator</targetReference>
            </connector>
            <label>If SDM not empty</label>
        </rules>
    </decisions>
    <formulas>
        <name>InvestigationNameFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Investigation - &apos;&amp;{!IntakeIns.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Investigation Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Investigation Create Flow</label>
    <loops>
        <name>Iterate_Alleged_Victim_and_Maltreator</name>
        <label>Iterate Alleged Victim and Maltreator</label>
        <locationX>50</locationX>
        <locationY>4478</locationY>
        <collectionReference>Get_SDM_Alleged_Victim_and_Maltreator</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Maltreatment_Allegation_Record</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_Persons_Records</name>
        <label>Iterate Persons Records</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <collectionReference>Get_Persons_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Persons_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Relationship_Records</name>
        <label>Iterate Relationship Records</label>
        <locationX>182</locationX>
        <locationY>3422</locationY>
        <collectionReference>Get_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Relationship</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Relationship_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Collateral_Records</name>
        <label>Iterate through Collateral Records</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <collectionReference>Get_Collateral_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Investigation_Id_in_Collaterals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collaterals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Notes</name>
        <label>Iterate through Notes</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Notes_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Investigation_Id_in_Notes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Notes_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_visitation_logs</name>
        <label>Iterate through visitation logs</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <collectionReference>Get_Visitation_Log</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Investigation_Id_in_Visitation_Log</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Visitation_Log_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Investigation_Record</name>
        <label>Create Investigation Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>InvestigationId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Notes_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Investigation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Collateral_Records</name>
        <label>Get Collateral Records</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Collateral_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Collateral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notes_Record</name>
        <label>Get Notes Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Notes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Persons_Records</name>
        <label>Get Persons Records</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relationship_Records</name>
        <label>Get Relationship Records</label>
        <locationX>182</locationX>
        <locationY>3302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Relationship_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Victim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM_Alleged_Victim_and_Maltreator</name>
        <label>Get SDM Alleged Victim and Maltreator</label>
        <locationX>50</locationX>
        <locationY>4358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Alleged_Victim_and_Maltreator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SDM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SDM_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SDM_Alleged_Victim_and_Maltreator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM_Records</name>
        <label>Get SDM Records</label>
        <locationX>182</locationX>
        <locationY>3998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SDM_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visitation_Log</name>
        <label>Get Visitation Log</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_visitation_logs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visitation_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collaterals</name>
        <label>Update Collaterals</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Get_Persons_Records</targetReference>
        </connector>
        <inputReference>collateralLists</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update investigation Because the Headof house hold value is changed after the person record updated</description>
        <name>Update_Investigation</name>
        <label>Update Investigation</label>
        <locationX>182</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>Get_Relationship_Records</targetReference>
        </connector>
        <inputReference>UpdatingInvestigationIns</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notes_Records</name>
        <label>Update Notes Records</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Get_Visitation_Log</targetReference>
        </connector>
        <inputReference>notesList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Persons_Records</name>
        <label>Update Persons Records</label>
        <locationX>182</locationX>
        <locationY>2942</locationY>
        <connector>
            <targetReference>Assign_Head_Of_HouseHold</targetReference>
        </connector>
        <inputReference>UpdateContactList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Relationship_Records</name>
        <label>Update Relationship Records</label>
        <locationX>182</locationX>
        <locationY>3878</locationY>
        <connector>
            <targetReference>Get_SDM_Records</targetReference>
        </connector>
        <inputReference>UpdatingRelationshipList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SDM_Record</name>
        <label>Update SDM Record</label>
        <locationX>182</locationX>
        <locationY>4118</locationY>
        <connector>
            <targetReference>Check_SDM_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Investigation__c</field>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </inputAssignments>
        <object>SDM__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visitation_Log_Records</name>
        <label>Update Visitation Log Records</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Get_Collateral_Records</targetReference>
        </connector>
        <inputReference>visitationLogLists</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Investigation_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Maltreatment_Allegation_Record</name>
        <label>Create Maltreatment Allegation Record</label>
        <locationX>138</locationX>
        <locationY>4598</locationY>
        <connector>
            <targetReference>Iterate_Alleged_Victim_and_Maltreator</targetReference>
        </connector>
        <flowName>Maltreatment_Allegation_Records_Create_Flow</flowName>
        <inputAssignments>
            <name>SDMAllegedVictimMaltreatorRecord</name>
            <value>
                <elementReference>Iterate_Alleged_Victim_and_Maltreator</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ServiceCaseName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Service Case - {!IntakeIns.CaseNumber}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AssignInvestigationIdinCollateralRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collateral__c</objectType>
    </variables>
    <variables>
        <name>collateralLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collateral__c</objectType>
    </variables>
    <variables>
        <name>IntakeIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InvestigationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>notesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notes__c</objectType>
    </variables>
    <variables>
        <name>NotesRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notes__c</objectType>
    </variables>
    <variables>
        <name>UpdateContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatedMaltreatmentAllegationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maltreatment_Allegation__c</objectType>
    </variables>
    <variables>
        <name>UpdatingContactIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatingInvestigationIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>UpdatingRelationshipIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingRelationshipList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMRecordIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>visitationLogLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitation_Log__c</objectType>
    </variables>
    <variables>
        <name>visitationLogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitation_Log__c</objectType>
    </variables>
</Flow>
