force-app/main/default/flows/SDM_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_maltreator_list</name>
        <label>Add to maltreator list</label>
        <locationX>534</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Selected_Alleged_Maltreators_From_Screen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Alleged_victims_and_maltreators</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Alleged_victims_and_maltreators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_victim_list</name>
        <label>Add to victim list</label>
        <locationX>534</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Selected_Alleged_Victim_From_Screen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Alleged_victims_and_maltreators</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_selected_maltreators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intake_Value_to_SDM</name>
        <label>Assign Intake Value to SDM</label>
        <locationX>50</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>SDM_Record.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SDM_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Investigation_value_to_SDM</name>
        <label>Assign Investigation value to SDM</label>
        <locationX>314</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>SDM_Record.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SDM_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SDM_Record</name>
        <label>Assign SDM Record</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>SDM_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SDM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_SDM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Case_to_SDM</name>
        <label>Assign Service Case to SDM</label>
        <locationX>578</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>SDM_Record.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SDM_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_SDM_Alleged_Maltreators</name>
        <label>Assign values to SDM Alleged Maltreators</label>
        <locationX>534</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Maltreator_Record.Alleged_Maltreator_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Selected_Alleged_Maltreators.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Maltreator_Record.SDM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDM_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Victim_Maltreator_Record_Lists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SDM_Alleged_Maltreator_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Selected_Alleged_Maltreators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_SDM_Alleged_Victim</name>
        <label>Assign values to SDM Alleged Victim</label>
        <locationX>534</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Victim_Record.Alleged_Victim_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Selected_Alleged_Victims.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Victim_Record.SDM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDM_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Victim_Maltreator_Record_Lists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SDM_Alleged_Victim_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Selected_Alleged_Victims</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Alleged_Maltreators</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Alleged Maltreators</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNextValueToReference>currentItem_Alleged_Maltreators_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Alleged_victims_and_maltreators</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Alleged_Maltreators_0.Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>7</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>New_SDM</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Alleged_victims</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Alleged victims</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>currentItem_Alleged_victims</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Alleged_victims_and_maltreators</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Alleged_victims.Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>6</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Alleged_Maltreators</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_for_selected_maltreators</name>
        <label>Check for selected maltreators</label>
        <locationX>666</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Alleged_victims_and_maltreators</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_selected_maltreators</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alleged_Maltreator_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Alleged_victims_and_maltreators.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_maltreator_list</targetReference>
            </connector>
            <label>If selected maltreators</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_selected_victims</name>
        <label>Check for selected victims</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Check_for_selected_maltreators</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_selected_victims</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alleged_Victim_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Alleged_victims_and_maltreators.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_victim_list</targetReference>
            </connector>
            <label>If selected victims</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Intake_Investigation_ServiceCase</name>
        <label>Check Intake Investigation ServiceCase</label>
        <locationX>446</locationX>
        <locationY>1766</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intake_Investigation_ServiceCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intake</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Intake_Value_to_SDM</targetReference>
            </connector>
            <label>If intake</label>
        </rules>
        <rules>
            <name>If_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intake_Investigation_ServiceCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Investigation_value_to_SDM</targetReference>
            </connector>
            <label>If Investigation</label>
        </rules>
        <rules>
            <name>If_ServiceCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intake_Investigation_ServiceCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Case_to_SDM</targetReference>
            </connector>
            <label>If ServiceCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Intake_Investigation_ServiceCase_0</name>
        <label>Check Intake Investigation ServiceCase</label>
        <locationX>446</locationX>
        <locationY>3014</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_intake_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intake_Investigation_ServiceCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intake</stringValue>
                </rightValue>
            </conditions>
            <label>If intake</label>
        </rules>
        <rules>
            <name>If_Investigation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intake_Investigation_ServiceCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_SDM_Alleged_victim_Maltreators_call_subflow</targetReference>
            </connector>
            <label>If Investigation</label>
        </rules>
        <rules>
            <name>If_ServiceCase_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intake_Investigation_ServiceCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_SDM_Alleged_victim_Maltreators_call_subflow</targetReference>
            </connector>
            <label>If ServiceCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_New_SDM_button_or_not</name>
        <label>Show New SDM button or not</label>
        <locationX>908</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_SDM_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_new_button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SDM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alleged_victims_and_maltreators</targetReference>
            </connector>
            <label>Show new button</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Alleged_Maltreators_Choice</name>
        <collectionReference>Alleged_Maltreators</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Alleged_Victims_Choice</name>
        <collectionReference>Alleged_victims</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>SDM Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDM Create Flow</label>
    <loops>
        <name>Iterate_SDM_Alleged_victim_Maltreators_call_subflow</name>
        <label>Iterate SDM Alleged victim Maltreators call subflow</label>
        <locationX>446</locationX>
        <locationY>3350</locationY>
        <collectionReference>SDM_Alleged_Victim_Maltreator_Record_Lists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Maltreatment_Allegation_Records_Create_Flow</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_through_Alleged_victims_and_maltreators</name>
        <label>Iterate through Alleged_victims_and_maltreators</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <collectionReference>Alleged_victims_and_maltreators</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_selected_victims</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Intake_Investigation_ServiceCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Selected_Alleged_Maltreators</name>
        <label>Iterate through Selected Alleged Maltreators</label>
        <locationX>446</locationX>
        <locationY>2558</locationY>
        <collectionReference>Selected_Alleged_Maltreators_From_Screen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_SDM_Alleged_Maltreators</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SDM_Alleged_Victims_Maltreators</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Selected_Alleged_Victims</name>
        <label>Iterate through Selected Alleged Victims</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <collectionReference>Selected_Alleged_Victim_From_Screen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_SDM_Alleged_Victim</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_through_Selected_Alleged_Maltreators</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SDM_Alleged_Victims_Maltreators</name>
        <label>Create SDM Alleged Victims Maltreators</label>
        <locationX>446</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>Check_Intake_Investigation_ServiceCase_0</targetReference>
        </connector>
        <inputReference>SDM_Alleged_Victim_Maltreator_Record_Lists</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SDM_record</name>
        <label>Create SDM record</label>
        <locationX>446</locationX>
        <locationY>2102</locationY>
        <connector>
            <targetReference>Iterate_through_Selected_Alleged_Victims</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_SDM_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>SDM_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Alleged_victims_and_maltreators</name>
        <label>Alleged victims and maltreators</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alleged_victims</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND (4 OR 5)</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>7</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Role_Formula__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM</name>
        <label>Get SDM</label>
        <locationX>908</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_New_SDM_button_or_not</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SDM</name>
        <label>Update SDM</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <faultConnector>
            <targetReference>Edit_SDM_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>SDM_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_SDM_Error_Screen</name>
        <label>Create SDM Error Screen</label>
        <locationX>1106</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <fields>
            <name>Create_SDM_Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_SDM</name>
        <label>Edit SDM</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Update_SDM</targetReference>
        </connector>
        <fields>
            <name>Edit_SDM_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Child_Fatality__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Provider_Involved_Maltreatment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PHYSICAL_ABUSE_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;PHYSICAL ABUSE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_SDM_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Suspicious_death_of_a_child_due_to_abuse__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Injury_inconsistent_with_explanation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Giving_child_toxic_chemicals_alcohol__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Non_accidental_physical_injury__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Injury_that_appears_suspicious__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Caregiver_action_that_caused_injury__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SEXUAL_ABUSE_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;SEXUAL ABUSE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_SDM_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Sexual_molestation_of_a_child__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Sexual_exploitation_of_a_child__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Risk_of_Sex_Trafficking__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Sexual_act_s_among_siblings_or_other__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Physical_behavioral_or_suspicious__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NEGLECT_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;NEGLECT&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_SDM_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Suspicious_death_of_child_due_to_neglect__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Inadequate_of_food_nutrition__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Exposure_to_unsafe__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Inadequate_supervision__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.signs_or_diagnosis_of_non_organic__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.A_child_discharged_from_a_facility__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Inadequate_clothing_or_hygiene__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Physical_treatment_of_the_child_poses__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Failure_to_Protect_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Failure to Protect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_SDM_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.The_caregiver_does_not_intervene_despite__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Abandonment_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Abandonment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_SDM_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.A_child_of_any_age_has_been_abandoned__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Unattended_child_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unattended Child&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_SDM_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.A_child_of_any_age_who_is_physically__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.A_child_over_the_age_of_8_has_been_left__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.A_child_under_8_has_been_left_alone__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Medical_Neglect_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Medical Neglect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_SDM_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.The_unreasonable_delay__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MENTAL_INJURY_ABUSE_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;MENTAL INJURY - Abuse&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_SDM_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Abuse_child_has_an_observable_identifi__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MENTAL_INJURY_NEGLECT_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;MENTAL INJURY - Neglect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_SDM_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Neglect_child_has_an_observable_identif__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RISK_OF_HARM_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Risk of Harm&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_SDM_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Prior_child_fatality_and_a_new_child__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Child_s_basic_need_to_be_unmet__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Risk_of_Domestic_Violence__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Previous_Fatality_or_Serious_Injury__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Adult_Survivor_of_child_Maltreatment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Substance_Exposed_Newborn__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Risk_of_sex_Abuse__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Harm_Risk_of_Sex_Trafficking__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Prior_Indicated_or_Unsub_Finding__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Birth_Match__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Information_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_SDM_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_SDM_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Allegations_that_the_maltreatment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_SDM_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_SDM_Error_Screen</name>
        <label>Edit SDM Error Screen</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <fields>
            <name>Edit_Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_SDM</name>
        <label>New SDM</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Iterate_through_Alleged_victims_and_maltreators</targetReference>
        </connector>
        <fields>
            <name>New_SDM_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Alleged_Victim_s</name>
                    <choiceReferences>Alleged_Victims_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Alleged Victim(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Child_Fatality__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Alleged_Maltreator_s</name>
                    <choiceReferences>Alleged_Maltreators_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Alleged Maltreator(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Provider_Involved_Maltreatment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PHYSICAL_ABUSE</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;PHYSICAL ABUSE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Suspicious_death_of_a_child_due_to_abuse__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Injury_inconsistent_with_explanation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Giving_child_toxic_chemicals_alcohol__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Non_accidental_physical_injury__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Injury_that_appears_suspicious__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Caregiver_action_that_caused_injury__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SEXUAL_ABUSE</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;SEXUAL ABUSE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Sexual_molestation_of_a_child__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Sexual_exploitation_of_a_child__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Risk_of_Sex_Trafficking__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Sexual_act_s_among_siblings_or_other__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Physical_behavioral_or_suspicious__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NEGLECT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;NEGLECT&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Suspicious_death_of_child_due_to_neglect__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Inadequate_of_food_nutrition__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Exposure_to_unsafe__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Inadequate_supervision__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.signs_or_diagnosis_of_non_organic__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.A_child_discharged_from_a_facility__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Inadequate_clothing_or_hygiene__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Physical_treatment_of_the_child_poses__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Failure_to_Protect</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Failure to Protect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.The_caregiver_does_not_intervene_despite__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Abandonment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Abandonment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.A_child_of_any_age_has_been_abandoned__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Unattended_child</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unattended Child&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.A_child_of_any_age_who_is_physically__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.A_child_over_the_age_of_8_has_been_left__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.A_child_under_8_has_been_left_alone__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Medical_Neglect</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Medical Neglect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.The_unreasonable_delay__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MENTAL_INJURY_ABUSE</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;MENTAL INJURY - Abuse&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Abuse_child_has_an_observable_identifi__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MENTAL_INJURY_NEGLECT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;MENTAL INJURY - Neglect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Neglect_child_has_an_observable_identif__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RISK_OF_HARM</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Risk of Harm&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Prior_child_fatality_and_a_new_child__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Child_s_basic_need_to_be_unmet__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Risk_of_Domestic_Violence__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Previous_Fatality_or_Serious_Injury__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Adult_Survivor_of_child_Maltreatment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Substance_Exposed_Newborn__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Risk_of_sex_Abuse__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Harm_Risk_of_Sex_Trafficking__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Prior_Indicated_or_Unsub_Finding__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Birth_Match__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Information</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Allegations_that_the_maltreatment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SDM</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Maltreatment_Allegation_Records_Create_Flow</name>
        <label>Maltreatment Allegation Records Create Flow</label>
        <locationX>534</locationX>
        <locationY>3470</locationY>
        <connector>
            <targetReference>Iterate_SDM_Alleged_victim_Maltreators_call_subflow</targetReference>
        </connector>
        <flowName>Maltreatment_Allegation_Records_Create_Flow</flowName>
        <inputAssignments>
            <name>SDMAllegedVictimMaltreatorRecord</name>
            <value>
                <elementReference>Iterate_SDM_Alleged_victim_Maltreators_call_subflow</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Alleged_Maltreators_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Alleged_victims</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Selected_Alleged_Maltreators</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Selected_Alleged_Victims</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Intake_Investigation_ServiceCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SDM_Alleged_Maltreator_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>SDM_Alleged_Victim_Maltreator_Record_Lists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>SDM_Alleged_Victim_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>SDM_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>Selected_Alleged_Maltreators_From_Screen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Selected_Alleged_Victim_From_Screen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
