force-app/main/default/flows/SDM_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_for_New_Record</name>
        <label>Check for New Record</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Investigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Object</targetReference>
            </connector>
            <label>Is New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Object</name>
        <label>Check Object</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Investigation_field</targetReference>
            </connector>
            <label>Check Investigation</label>
        </rules>
        <rules>
            <name>Check_Service_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Case_field</targetReference>
            </connector>
            <label>Check Service Case</label>
        </rules>
        <rules>
            <name>Check_Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_field</targetReference>
            </connector>
            <label>Check Intake</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SDM flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDM flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Intake_field</name>
        <label>Update Intake field</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intake__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_SDM_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investigation</name>
        <label>Update Investigation</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPS_Response_Type__c</field>
            <value>
                <elementReference>$Record.CPS_Response_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investigation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investigation_field</name>
        <label>Update Investigation field</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsSDMCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Investigation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Case_field</name>
        <label>Update Service Case field</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsSDMCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Service_Case__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_New_Record</targetReference>
        </connector>
        <object>SDM__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
