force-app/main/default/flows/SDM_Alleged_Victim_Maltreator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Id_to_retain_record_list</name>
        <label>Add Id to retain record list</label>
        <locationX>402</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Dont_change_record</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Victim_Records_for_delete.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Victim_Records_for_delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id_to_retain_record_list_0</name>
        <label>Add Id to retain record list</label>
        <locationX>1282</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Dont_change_record</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Maltreator_Records_for_delete.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Maltreator_Records_for_delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_records_to_Alleged_maltreator_create_lists</name>
        <label>Add records to Alleged maltreator create lists</label>
        <locationX>1018</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>Create_SDM_Victim_Record.Alleged_Maltreator_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Alleged_maltreator_list.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_SDM_Victim_Record.SDM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sdmRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_List_SDM_Alleged_Victim_Maltreator</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_SDM_Victim_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Alleged_maltreator_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_records_to_Alleged_victim_create_lists</name>
        <label>Add records to Alleged victim create lists</label>
        <locationX>138</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>Create_SDM_Victim_Record.Alleged_Victim_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Alleged_victim_list.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_SDM_Victim_Record.SDM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sdmRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_List_SDM_Alleged_Victim_Maltreator</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_SDM_Victim_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Alleged_victim_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_delete_list</name>
        <label>Add record to delete list</label>
        <locationX>138</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Delete_List_SDM_Alleged_Victim_Maltreator</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Victim_Records_for_delete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Victim_Records_for_delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_delete_list_0</name>
        <label>Add record to delete list</label>
        <locationX>1018</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Delete_List_SDM_Alleged_Victim_Maltreator</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Maltreator_Records_for_delete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Maltreator_Records_for_delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SDM_Alleged_Maltreator_Lists</name>
        <label>Assign SDM Alleged Maltreator Lists</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Maltreator_Lists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_SDM_Alleged_victims_and_maltreators</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_SDM_Alleged_victims_and_maltreators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SDM_Alleged_Victim_Lists</name>
        <label>Assign SDM Alleged Victim Lists</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Victim_Lists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_SDM_Alleged_victims_and_maltreators</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_SDM_Alleged_victims_and_maltreators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SDM_Record</name>
        <label>Assign SDM Record</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>sdmRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SDM_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SDM_Alleged_victims_and_maltreators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Alleged_Maltreator_Prior_Ids_And_Values</name>
        <label>Set Alleged Maltreator Prior Ids And Values</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Alleged_Maltreator_Prior_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Alleged_Maltreator_Default_Values</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllegedMaltreatorPriorValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Alleged_Maltreator_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SDM_Alleged_Maltreator_Lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Alleged_Victim_Prior_Ids_And_Values</name>
        <label>Set Alleged Victim Prior Ids And Values</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AllegedVictimPriorValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Alleged_Victim_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alleged_Victim_Prior_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Alleged_Victim_Default_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SDM_Alleged_Victim_Lists</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Alleged_Maltreator_Lists</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Alleged Maltreator Lists</label>
        <locationX>490</locationX>
        <locationY>1550</locationY>
        <assignNextValueToReference>currentItem_Alleged_Maltreator_Lists_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Alleged_victim_and_maltreators</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Alleged_Maltreator_Lists_0.Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>7</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Victim_Maltreator_screen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Alleged_victim_list</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Alleged Victim Lists</label>
        <locationX>490</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>currentItem_Alleged_victim_list</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Alleged_victim_and_maltreators</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Alleged_victim_list.Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>6</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Alleged_Maltreator_Lists</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Alleged_victim_maltreator</name>
        <label>Check Alleged victim/maltreator</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_SDM_Alleged_victims_and_maltreators</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Alleged_victim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Victim_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Alleged_Victim_Prior_Ids_And_Values</targetReference>
            </connector>
            <label>If Alleged victim</label>
        </rules>
        <rules>
            <name>If_Alleged_maltreator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Maltreator_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Alleged_Maltreator_Prior_Ids_And_Values</targetReference>
            </connector>
            <label>If Alleged maltreator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_delete_maltreatment_record</name>
        <label>Check for delete maltreatment record</label>
        <locationX>1282</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Maltreator_Records_for_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_maltreator_record_delete</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>Alleged_Maltreator_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Maltreator_Records_for_delete.Alleged_Maltreator_s__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_delete_list_0</targetReference>
            </connector>
            <label>If maltreator record delete</label>
        </rules>
        <rules>
            <name>If_record_retains_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alleged_Maltreator_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Maltreator_Records_for_delete.Alleged_Maltreator_s__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Id_to_retain_record_list_0</targetReference>
            </connector>
            <label>If record retains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_delete_victim_record</name>
        <label>Check for delete victim record</label>
        <locationX>402</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Victim_Records_for_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_victim_record_delete</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>Alleged_Victim_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Victim_Records_for_delete.Alleged_Victim_s__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_delete_list</targetReference>
            </connector>
            <label>If victim record delete</label>
        </rules>
        <rules>
            <name>If_record_retains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alleged_Victim_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Victim_Records_for_delete.Alleged_Victim_s__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Id_to_retain_record_list</targetReference>
            </connector>
            <label>If record retains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_empty_list</name>
        <label>Check for empty list</label>
        <locationX>490</locationX>
        <locationY>3902</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_List_SDM_Alleged_Victim_Maltreator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_victims_from_sdm</targetReference>
            </connector>
            <label>List is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_SDM_Maltreator_Create</name>
        <label>Check for SDM Maltreator Create</label>
        <locationX>1150</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Alleged_maltreator_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_new_maltreators_added</name>
            <conditionLogic>1 AND (NOT(2))</conditionLogic>
            <conditions>
                <leftValueReference>Alleged_Maltreator_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Alleged_maltreator_list.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dont_change_record</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Alleged_maltreator_list.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_records_to_Alleged_maltreator_create_lists</targetReference>
            </connector>
            <label>If new maltreators added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_SDM_Victim_Create</name>
        <label>Check for SDM Victim Create</label>
        <locationX>270</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Alleged_victim_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_new_victims_added</name>
            <conditionLogic>1 AND (NOT(2))</conditionLogic>
            <conditions>
                <leftValueReference>Alleged_Victim_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Alleged_victim_list.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dont_change_record</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Alleged_victim_list.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_records_to_Alleged_victim_create_lists</targetReference>
            </connector>
            <label>If new victims added</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_no_sdm</name>
        <label>If no sdm</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_SDM_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SDM_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SDM_Record</targetReference>
            </connector>
            <label>Check SDM</label>
        </rules>
    </decisions>
    <decisions>
        <name>SDM_from_Intake_or_not</name>
        <label>SDM from Intake or not</label>
        <locationX>490</locationX>
        <locationY>3350</locationY>
        <defaultConnector>
            <targetReference>SDM_Alleged_victim_maltreators</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SDM_from_Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sdmRecord.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sdmRecord.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_empty_list</targetReference>
            </connector>
            <label>SDM from Intake</label>
        </rules>
    </decisions>
    <decisions>
        <name>Victim_Maltreator_screen</name>
        <label>Victim/Maltreator screen</label>
        <locationX>490</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Selected_Alleged_maltretors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Maltreator screen</defaultConnectorLabel>
        <rules>
            <name>Victim_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Showvictim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Alleged_victims</targetReference>
            </connector>
            <label>Victim screen</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AllegedMaltreatorChoices</name>
        <collectionReference>Alleged_Maltreator_Lists</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Allegedvictimchoices</name>
        <collectionReference>Alleged_victim_list</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Alleged_Maltreator_Default_Values</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Alleged_Maltreator_Prior_ids}),{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Maltreator_s__c},&quot;;&quot;+{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Maltreator_s__c})</expression>
    </formulas>
    <formulas>
        <name>Alleged_Maltreator_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!AllegedMaltreatorPriorValues}),{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Maltreator_s__r.FirstName}+&quot; &quot;+{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Maltreator_s__r.LastName},&quot;;&quot;+{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Maltreator_s__r.FirstName}+&quot; &quot;+{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Maltreator_s__r.LastName})</expression>
    </formulas>
    <formulas>
        <name>Alleged_Victim_Default_Values</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Alleged_Victim_Prior_ids}),{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Victim_s__c},&quot;;&quot;+{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Victim_s__c})</expression>
    </formulas>
    <formulas>
        <name>Alleged_Victim_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!AllegedVictimPriorValues}),{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Victim_s__r.FirstName}+&quot; &quot;+{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Victim_s__r.LastName},&quot;;&quot;+{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Victim_s__r.FirstName}+&quot; &quot;+{!Iterate_through_SDM_Alleged_victims_and_maltreators.Alleged_Victim_s__r.LastName})</expression>
    </formulas>
    <interviewLabel>SDM Alleged Victim Maltreator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDM Alleged Victim Maltreator</label>
    <loops>
        <name>Iterate_through_Alleged_maltreator_list</name>
        <label>Iterate through Alleged_maltreator_list</label>
        <locationX>930</locationX>
        <locationY>2582</locationY>
        <collectionReference>Alleged_Maltreator_Lists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_SDM_Maltreator_Create</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Alleged_victim_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Alleged_victim_list</name>
        <label>Iterate through Alleged_victim_list</label>
        <locationX>50</locationX>
        <locationY>2582</locationY>
        <collectionReference>Alleged_victim_list</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_SDM_Victim_Create</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Alleged_victim_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Maltreator_Records_for_delete</name>
        <label>Iterate through Maltreator Records for delete</label>
        <locationX>930</locationX>
        <locationY>2030</locationY>
        <collectionReference>SDM_Alleged_Maltreator_Lists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_delete_maltreatment_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_through_Alleged_maltreator_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_SDM_Alleged_victims_and_maltreators</name>
        <label>Iterate through SDM Alleged victims and maltreators</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <collectionReference>SDM_Alleged_victims_and_maltreators</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Alleged_victim_maltreator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Alleged_victim_and_maltreators</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Victim_Records_for_delete</name>
        <label>Iterate through Victim Records for delete</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <collectionReference>SDM_Alleged_Victim_Lists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_delete_victim_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_through_Alleged_victim_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SDM_Alleged_victim_maltreators</name>
        <label>SDM Alleged victim maltreators</label>
        <locationX>622</locationX>
        <locationY>3470</locationY>
        <collectionReference>Create_List_SDM_Alleged_Victim_Maltreator</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Maltreatment_Allegation_Records_Create_Flow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_empty_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Alleged_victim_records</name>
        <label>Create Alleged victim records</label>
        <locationX>490</locationX>
        <locationY>3230</locationY>
        <connector>
            <targetReference>SDM_from_Intake_or_not</targetReference>
        </connector>
        <inputReference>Create_List_SDM_Alleged_Victim_Maltreator</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Remove_victims_from_sdm</name>
        <label>Remove victims from sdm</label>
        <locationX>358</locationX>
        <locationY>4022</locationY>
        <inputReference>Delete_List_SDM_Alleged_Victim_Maltreator</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Alleged_victim_and_maltreators</name>
        <label>Alleged victim and maltreators</label>
        <locationX>490</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alleged_victim_list</targetReference>
        </connector>
        <filterLogic>((5 AND 8) OR (1 AND 6) OR (4 AND 7)) AND (2 OR 3)</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sdmRecord.Investigation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>7</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sdmRecord.Intake__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sdmRecord.Service_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Intake__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role_Formula__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM_record</name>
        <label>Get SDM record</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_no_sdm</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intake_investigation_serviceCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intake_investigation_serviceCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intake_investigation_serviceCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SDM_Alleged_victims_and_maltreators</name>
        <label>SDM Alleged victims and maltreators</label>
        <locationX>490</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_SDM_Alleged_victims_and_maltreators</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SDM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sdmRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SDM_Alleged_Victim_and_Maltreator__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Alleged_Victim_s__c</queriedFields>
        <queriedFields>Alleged_Maltreator_s__c</queriedFields>
        <queriedFields>SDM__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Alleged_maltreator_screen</name>
        <label>Alleged maltreator screen</label>
        <locationX>930</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Iterate_through_Maltreator_Records_for_delete</targetReference>
        </connector>
        <fields>
            <name>Alleged_Maltreator_s</name>
            <choiceReferences>AllegedMaltreatorChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Alleged_Maltreator_Prior_ids</elementReference>
            </defaultValue>
            <fieldText>Alleged Maltreator(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Alleged_victim_screen_0</name>
        <label>Alleged victim screen</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Iterate_through_Victim_Records_for_delete</targetReference>
        </connector>
        <fields>
            <name>Alleged_Victim_s</name>
            <choiceReferences>Allegedvictimchoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Alleged_Victim_Prior_ids</elementReference>
            </defaultValue>
            <fieldText>Alleged Victim(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_SDM_Screen</name>
        <label>No SDM Screen</label>
        <locationX>1194</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoScreen</name>
            <fieldText>&lt;p&gt;  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selected_Alleged_maltretors</name>
        <label>Selected Alleged maltretors</label>
        <locationX>930</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Alleged_maltreator_screen</targetReference>
        </connector>
        <fields>
            <name>DisplayAllegedvictims_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Alleged Maltreator(s)&lt;/b&gt; : {!AllegedMaltreatorPriorValues}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Add/Reset Alleged Maltreator(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selected_Alleged_victims</name>
        <label>Selected Alleged victims</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Alleged_victim_screen_0</targetReference>
        </connector>
        <fields>
            <name>DisplayAllegedvictims</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Alleged Victim(s)&lt;/b&gt; :  {!AllegedVictimPriorValues}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Add/Reset Alleged Victim(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SDM_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Maltreatment_Allegation_Records_Create_Flow</name>
        <label>Maltreatment Allegation Records Create Flow</label>
        <locationX>710</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>SDM_Alleged_victim_maltreators</targetReference>
        </connector>
        <flowName>Maltreatment_Allegation_Records_Create_Flow</flowName>
        <inputAssignments>
            <name>SDMAllegedVictimMaltreatorRecord</name>
            <value>
                <elementReference>SDM_Alleged_victim_maltreators</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Alleged_Maltreator_Prior_ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Alleged_Victim_Prior_ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllegedMaltreatorPriorValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllegedVictimPriorValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Create_List_SDM_Alleged_Victim_Maltreator</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>Create_SDM_Victim_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Alleged_Maltreator_Lists_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Alleged_victim_list</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_SDM_Alleged_Maltreator_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>currentItem_SDM_Alleged_Victim_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>Delete_List_SDM_Alleged_Victim_Maltreator</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>Dont_change_record</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intake_investigation_serviceCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SDM_Alleged_Maltreator_Lists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>SDM_Alleged_Victim_Lists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>sdmRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>Selected_Alleged_Victims_from_Screen</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Showvictim</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
