force-app/main/default/flows/Service_Case_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Service_Case_Head_of_House_Hold</name>
        <label>Assign Service Case Head of House Hold</label>
        <locationX>825</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>UpdatingServiceCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingServiceCase.Head_of_Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IntakeIns.contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Collateral</name>
        <label>Assigned Service Case in Collateral</label>
        <locationX>2228</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>UpdatingCollateralsIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Collaterals_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingCollateralsIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Collateral_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Contact</name>
        <label>Assigned Service Case in Contact</label>
        <locationX>224</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>UpdatingContactIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingContactIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingContactIns.Program_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In-Home Services/Family Preservation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Notes</name>
        <label>Assigned Service Case in Notes</label>
        <locationX>50</locationX>
        <locationY>1174</locationY>
        <assignmentItems>
            <assignToReference>UpdatingNotesIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Notes_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingNotesIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Notes_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Relationship</name>
        <label>Assigned Service Case in Relationship</label>
        <locationX>964</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Relationship_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Relationship_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_SDM</name>
        <label>Assigned Service Case in SDM</label>
        <locationX>1394</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>UpdatingSDMRecordIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_SDM_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingSDMRecordIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SDM_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Visitation_Log</name>
        <label>Assigned Service Case in Visitation Log</label>
        <locationX>1136</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>UpdatingVisitationLogIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_visitation_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingVisitationLogIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Visitation_Log_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Collateral_add_to_List</name>
        <label>Update Collateral add to List</label>
        <locationX>2232</locationX>
        <locationY>1086</locationY>
        <assignmentItems>
            <assignToReference>UpdateCollateralsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingCollateralsIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Collaterals_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_add_to_List</name>
        <label>Update Contact add to List</label>
        <locationX>444</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>UpdateContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingContactIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Notes_add_to_List</name>
        <label>Update Notes add to List</label>
        <locationX>254</locationX>
        <locationY>1230</locationY>
        <assignmentItems>
            <assignToReference>UpdateNotesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingNotesIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Notes_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Relationship_add_to_List</name>
        <label>Update Relationship add to List</label>
        <locationX>1220</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingRelationshipIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Relationship_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SDM_add_to_List</name>
        <label>Update SDM add to List</label>
        <locationX>1672</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>UpdatingSDMList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingSDMRecordIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_SDM_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Visitation_Log_add_to_List</name>
        <label>Update Visitation Log add to List</label>
        <locationX>1404</locationX>
        <locationY>1156</locationY>
        <assignmentItems>
            <assignToReference>UpdateVisitationLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingVisitationLogIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_visitation_Records</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ServiceCaseNameFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Service Case - &apos;&amp;{!IntakeIns.CaseNumber}</expression>
    </formulas>
    <interviewLabel>Service Case Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Case Create Flow</label>
    <loops>
        <name>Iterate_Collaterals_Records</name>
        <label>Iterate Collaterals Records</label>
        <locationX>1962</locationX>
        <locationY>994</locationY>
        <collectionReference>Get_Collaterals_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Collateral</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collateral_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Notes_Records</name>
        <label>Iterate Notes Records</label>
        <locationX>258</locationX>
        <locationY>1028</locationY>
        <collectionReference>Get_Notes_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Notes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Notes_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Persons_Records</name>
        <label>Iterate Persons Records</label>
        <locationX>418</locationX>
        <locationY>486</locationY>
        <collectionReference>Get_Persons_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Persons_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Relationship_Records</name>
        <label>Iterate Relationship Records</label>
        <locationX>1062</locationX>
        <locationY>772</locationY>
        <collectionReference>Get_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Relationship</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Relationship_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_SDM_Records</name>
        <label>Iterate SDM Records</label>
        <locationX>1502</locationX>
        <locationY>420</locationY>
        <collectionReference>Get_SDM_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_SDM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SDM_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_visitation_Records</name>
        <label>Iterate visitation Records</label>
        <locationX>1134</locationX>
        <locationY>1244</locationY>
        <collectionReference>Get_visitation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Visitation_Log</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Visitation_Log</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Case_Record</name>
        <label>Create Service Case Record</label>
        <locationX>204</locationX>
        <locationY>346</locationY>
        <assignRecordIdToReference>ServiceCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Persons_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Case__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Collaterals_Records</name>
        <label>Get Collaterals Records</label>
        <locationX>1880</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Collaterals_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Collateral__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notes_Records</name>
        <label>Get Notes Records</label>
        <locationX>512</locationX>
        <locationY>1112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Notes_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Notes__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Persons_Records</name>
        <label>Get Persons Records</label>
        <locationX>468</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relationship_Records</name>
        <label>Get Relationship Records</label>
        <locationX>874</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Relationship_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Victim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM_Records</name>
        <label>Get SDM Records</label>
        <locationX>1362</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_SDM_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_visitation_Records</name>
        <label>Get visitation Records</label>
        <locationX>1350</locationX>
        <locationY>1436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_visitation_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visitation_Log__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collateral_Records</name>
        <label>Update Collateral Records</label>
        <locationX>1970</locationX>
        <locationY>1302</locationY>
        <connector>
            <targetReference>Get_visitation_Records</targetReference>
        </connector>
        <inputReference>UpdateCollateralsList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notes_Records</name>
        <label>Update Notes Records</label>
        <locationX>52</locationX>
        <locationY>884</locationY>
        <inputReference>UpdateNotesList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Persons_Records</name>
        <label>Update Persons Records</label>
        <locationX>648</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>Assign_Service_Case_Head_of_House_Hold</targetReference>
        </connector>
        <inputReference>UpdateContactList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Relationship_Records</name>
        <label>Update Relationship Records</label>
        <locationX>1056</locationX>
        <locationY>394</locationY>
        <connector>
            <targetReference>Get_SDM_Records</targetReference>
        </connector>
        <inputReference>UpdatingRelationshipList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SDM_Records</name>
        <label>Update SDM Records</label>
        <locationX>1722</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>Get_Collaterals_Records</targetReference>
        </connector>
        <inputReference>UpdatingSDMList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Service Case Because the Headof house hold value is changed after the person record updated</description>
        <name>Update_Service_Case</name>
        <label>Update Service Case</label>
        <locationX>1080</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>Get_Relationship_Records</targetReference>
        </connector>
        <inputReference>UpdatingServiceCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visitation_Log</name>
        <label>Update Visitation Log</label>
        <locationX>896</locationX>
        <locationY>1234</locationY>
        <connector>
            <targetReference>Get_Notes_Records</targetReference>
        </connector>
        <inputReference>UpdateVisitationLogList</inputReference>
    </recordUpdates>
    <start>
        <locationX>268</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Service_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ServiceCaseName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Service Case - {!IntakeIns.CaseNumber}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>IntakeIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ServiceCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdateCollateralsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collateral__c</objectType>
    </variables>
    <variables>
        <name>UpdateContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdateNotesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notes__c</objectType>
    </variables>
    <variables>
        <name>UpdateVisitationLogList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitation_Log__c</objectType>
    </variables>
    <variables>
        <name>UpdatingCollateralsIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collateral__c</objectType>
    </variables>
    <variables>
        <name>UpdatingContactIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatingNotesIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notes__c</objectType>
    </variables>
    <variables>
        <name>UpdatingRelationshipIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingRelationshipList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMRecordIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>UpdatingServiceCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Case__c</objectType>
    </variables>
    <variables>
        <name>UpdatingVisitationLogIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitation_Log__c</objectType>
    </variables>
</Flow>
