force-app/main/default/flows/Update_Service_Case_Head_of_House_Hold_From_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Head_of_House_Hold_in_Intake</name>
        <label>Assign Head of House Hold in Intake</label>
        <locationX>1140</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>IntakeIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Intake__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntakeIns.contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Head_of_House_Hold_in_Investigation</name>
        <label>Assign Head of House Hold in Investigation</label>
        <locationX>886</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>InvestigationIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvestigationIns.Head_of_Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Investigation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Head_of_House_Hold_in_Service_Case</name>
        <label>Assign Head of House Hold in Service Case</label>
        <locationX>868</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>ServiceCaseIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCaseIns.Head_of_Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Case_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_AKA</name>
        <label>Check AKA</label>
        <locationX>309</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Check_Head_of_Household</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AKA_equals_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Also_known_As_AKA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Also_known_As_AKA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_AKA</targetReference>
            </connector>
            <label>AKA equals false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Client_Insurance</name>
        <label>Check Client Insurance</label>
        <locationX>50</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Check_AKA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Client_have_insurance_Equals_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Does_Client_have_insurance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Does_Client_have_insurance__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Insurance_Record</targetReference>
            </connector>
            <label>Does Client have insurance Equals No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Have_An_Intake</name>
        <label>Check Contact Have An Intake</label>
        <locationX>500</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Have_An_Service_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Is_Contact_Have_An_Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_The_Intake_Approval_Status</targetReference>
            </connector>
            <label>Is Contact Have An Intake</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Have_An_Investigation</name>
        <label>Check Contact Have An Investigation</label>
        <locationX>665</locationX>
        <locationY>572</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Is_Contact_Have_An_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Head_of_House_Hold_in_Investigation</targetReference>
            </connector>
            <label>Is Contact Have An Investigation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Have_An_Service_Case</name>
        <label>Check Contact Have An Service Case</label>
        <locationX>856</locationX>
        <locationY>413</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Have_An_Investigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Is_Contact_Have_An_Service_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Head_of_House_Hold_in_Service_Case</targetReference>
            </connector>
            <label>Is Contact Have An Service Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Head_of_Household</name>
        <label>Check Head of Household</label>
        <locationX>505</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Head_of_Household_equals_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HEAD_OF_HOUSEHOLD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Have_An_Intake</targetReference>
            </connector>
            <label>Head of Household equals true</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the approval Status because the record is locked once the stats is approved</description>
        <name>Check_The_Intake_Approval_Status</name>
        <label>Check The Intake Approval Status</label>
        <locationX>848</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>Assign_Head_of_House_Hold_in_Intake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Check_Approval_Status_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake__r.Intake_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Have_An_Service_Case</targetReference>
            </connector>
            <label>Check Approval Status is Approved</label>
        </rules>
    </decisions>
    <interviewLabel>Service Case Head of House {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Service Case Head of House Hold From Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_AKA</name>
        <label>Delete AKA</label>
        <locationX>310</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>Check_Head_of_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>AKA__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Insurance_Record</name>
        <label>Delete Insurance Record</label>
        <locationX>54</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Check_AKA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Insurance__c</object>
    </recordDeletes>
    <recordUpdates>
        <name>Update_Intake_Record</name>
        <label>Update Intake Record</label>
        <locationX>1142</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>Check_Contact_Have_An_Service_Case</targetReference>
        </connector>
        <inputReference>IntakeIns</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investigation_Record</name>
        <label>Update Investigation Record</label>
        <locationX>1138</locationX>
        <locationY>749</locationY>
        <inputReference>InvestigationIns</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Case_Record</name>
        <label>Update Service Case Record</label>
        <locationX>1122</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Check_Contact_Have_An_Investigation</targetReference>
        </connector>
        <inputReference>ServiceCaseIns</inputReference>
    </recordUpdates>
    <start>
        <locationX>62</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Check_Client_Insurance</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IntakeIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InvestigationIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>ServiceCaseIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Case__c</objectType>
    </variables>
</Flow>
